.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%;
  max-width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #f0f0f0;
  transition: transform 0.5s ease-in-out;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.navButton:first-of-type {
  left: 0;
}

.navButton:last-of-type {
  right: 0;
}
